gtk-color-scheme = "background: #333232"
gtk-color-scheme = "foreground: #FBFBFB"

gtk-color-scheme = "color0: #333232"
gtk-color-scheme = "color1: #EF6762"
gtk-color-scheme = "color2: #414141"
gtk-color-scheme = "color3: #F09A98"
gtk-color-scheme = "color4: #CFD0CF"
gtk-color-scheme = "color5: #DFE0DF"
gtk-color-scheme = "color6: #E7E7E7"
gtk-color-scheme = "color7: #FBFBFB"
gtk-color-scheme = "color8: #7f7f7f"
gtk-color-scheme = "color9: #EF6762"
gtk-color-scheme = "color10: #5A5A5A"
gtk-color-scheme = "color11: #F09A98"
gtk-color-scheme = "color12: #CFD0CF"
gtk-color-scheme = "color13: #DFE0DF"
gtk-color-scheme = "color14: #E7E7E7"
gtk-color-scheme = "color15: #FBFBFB"
